/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile-picture {
    margin: 0 auto 20px auto;
    width: 200px;
    height: 200px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-me {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.about-me h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #333;
}
